<article class="pre-product-card product-card relative"
         data-product_id="{{ product.get_id }}"
         data-thumbnail="{{ product.get_thumbnail_json|e }}"
         data-title="{{ product.get_title }}"
         data-url="{{ product.get_link }}"
         data-price="{{ product.get_price_bare|striptags }}"
         data-instock="{{ product.is_in_stock }}"
         data-categories="{{ product.get_product_categories_links|e }}"
         data-saleprice="{{ product.get_sale_price|striptags }}"
         data-stock_status="{{ product.get_stock_status('edit')|striptags }}"
         data-is_new="{{ product.is_new_product }}"
         data-onsale="{{ product.is_on_sale }}">
    <noscript>
        <a href="{{ product.get_link }}" title="Bekijk {{ product.get_title }}">
            <picture>
                <source srcset="{{ product.thumbnail|resize(900,900)|towebp }} 2x" type="image/webp">
                <source srcset="{{ product.thumbnail|resize(450,450)|towebp }}" type="image/webp" >
                <img src="{{ product.thumbnail|resize(450,450) }}" alt="'{{ product.get_title }}'" loading="lazy">
            </picture>
        </a>

        <main class="card-content">
            <a href="{{ product.get_link }}" title="Bekijk {{ product.get_title }}" class="mb-2">
                <h2 class="is-h3">{{ product.get_title }}</h2>
            </a>

            <p class="product-card--categories mb-2">
                {{ product.get_product_categories_links }}
            </p>

            <p class="product-card--price">{{ product.get_price }}</p>

            {% if not product.is_in_stock %}
                <p>Uitverkocht</p>
            {% endif %}
        </main>
    </noscript>
</article>
