{% import "components/base.html.twig" as base %}
<!doctype html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="{{ site.title }}">
    {% do action('bookish/template/head/post-meta') %}

    <meta name="base_assets" content="{{ theme.link }}/dist/">

    <script src="https://kit.fontawesome.com/eaa399fb9a.js" crossorigin="anonymous" defer async></script>

    <script>
        window['ajax_url'] = "{{ fn('admin_url', 'admin-ajax.php') }}"
        window['rest_url'] = "{{ fn('get_rest_url') }}"
        window['shopping_cart_url'] = "{{ get_cart_url() }}"
    </script>

    {% block post_head_scripts %}{% endblock %}
    {{ fn('wp_head') }}
</head>
<body {{ fn('body_class') }}>
{% do action('bookish/template/header') %}

{% block content %}
    <main id="app">
        {{ post.content }}
    </main>
{% endblock %}

{% do action('bookish/template/footer') %}

{% block footer_styles %}
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:wght@400&display=swap"
          rel="stylesheet">
{% endblock %}
<span id="toast-container"></span>
{{ fn('wp_footer') }}
</body>
</html>
