<nav class="nav">

    {% for item in primaryMenu.items %}
        <div class="submenu-group">
            <a href="{{ item.link }}"
               class="nav-item {{ item.classes|join(' ') }}"
               title="{{ item.title }}"
               rel="{{ link.is_external? 'noopener': '' }}"
               target="{{ link.is_external? '_blank': '_self' }}"
            >
                {{ item.name }}

                {% if item.children %}
                    <button class="js-submenu-opener" aria-label="Open {{ item.name }} submenu">
                        <i class="fad fa-chevron-down">
                        </i>
                    </button>
                {% endif %}
            </a>

            {% if item.children %}
                <ul class="submenu">
                    {% for child in item.children %}
                        <li>
                            <a href="{{ child.link }}" title="{{ child.title }}">{{ child.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <div class="submenu-group">
        <a href="{{ get_woo_url('myaccount') }}"
           class="nav-item">
            <i class="fad fa-book-reader"></i>
            {% if is_user_logged_in() %}
                <span class="inline-block">
                            Mijn account
                        </span>
            {% else %}
                <span class="inline-block">Inloggen</span>
            {% endif %}
        </a>
    </div>
</nav>