{% import 'components/checkout.html.twig' as checkout_base %}
<main class="container mx-auto my-8">
    {% do action('woocommerce_before_cart') %}
    <form action="{{ fn('wc_get_cart_url')|e }}" class="woocommerce-cart-form cart-form" method="POST">
        <table class="cart">
            <thead>
            <tr>
                <th class="product-remove">&nbsp;</th>
                <th class="product-thumbnail">&nbsp;</th>
                <th class="product-name">{{ __('Product', 'woocommerce')|e }}</th>
                <th class="product-price">{{ __('Price', 'woocommerce')|e }}</th>
                <th class="product-quantity">{{ __('Quantity', 'woocommerce')|e }}</th>
                <th class="product-subtotal">{{ __('Subtotal', 'woocommerce')|e }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item_key, item in cart.get_cart %}
                {% set _product = item.product_id|apply_filters('bookish/view/cart/product-from-id') %}
                {% set _product_id = item.product_id|apply_filters('woocommerce_cart_item_product_id', item, item_key) %}

                {% if _product and _product.setProduct.exists() and item.quantity > 0 and true|apply_filters('woocommerce_cart_item_visible', item, item_key) %}
                    {% set permalink = _product.link|apply_filters('woocommerce_cart_item_permalink', item, item_key) %}

                    <tr>
                        <td class="product-remove">
                            <a href="{{ fn('wc_get_cart_remove_url', item_key) }}" title="{{ __('Remove this item', 'woocommerce')|e }}" class="remove" data-product_id="{{ _product_id }}" data-product_sku="{{ _product.setProduct.get_sku }}">
                                <i class="fad fa-times-hexagon"></i>
                            </a>
                        </td>
                        <td class="product-thumbnail">
                            <a href="{{ permalink }}">
                                <figure>
                                    <img src="{{ _product.thumbnail.src|resize(150,150) }}" alt="{{ product.title }}">
                                </figure>
                            </a>
                        </td>
                        <td class="product-name" data-title="{{ __('Product', 'woocommerce')|e }}">
                            <a href="{{ permalink }}">
                                {{ item.data.get_name|apply_filters('woocommerce_cart_item_name', item, item_key) }}
                            </a>

                            {% if _product.backorders_require_notification and _product.is_on_backorder(item.quantity) %}
                                <small class="block">
                                    <strong>Let op!</strong><br>
                                    {{ item.data.get_name }} is in nabestelling, hierdoor kan het langer duren voordat je deze ontvangt.
                                </small>
                            {% endif %}
                        </td>
                        <td class="product-price" data-title="{{ __('Price', 'woocommerce')|e }}">
                            {{ cart.get_product_price(item.data)|apply_filters('woocommerce_cart_item_price', item, item_key) }}
                        </td>
                        <td class="product-quantity" data-title="{{ __('Quantity', 'woocommerce')|e }}">
                            {% if _product.is_sold_individually %}
                                1
                            {% else %}
                                <label for="cart[{{ item_key }}][qty]" class="sr-only">Hoeveelheid voor {{ item.data.get_name }}</label>
                                <input
                                        type="number"
                                        class="max-w-min text-center"
                                        id="cart[{{ item_key }}][qty]"
                                        name="cart[{{ item_key }}][qty]"
                                        min="0"
                                        max="{{ _product.get_max_purchase_quantity < 0? '' : _product.get_max_purchase_quantity }}"
                                        value="{{ item.quantity }}" >
                            {% endif %}
                        </td>
                        <td class="product-subtotal" data-title="{{ __('Subtotal', 'woocommerce') }}">
                            {{ cart.get_product_subtotal(item.data, item.quantity)|apply_filters('woocommerce_cart_item_subtotal', item, item_key) }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <div class="actions">
            {% if fn('wc_coupons_enabled') %}
                <div class="coupon">
                    {{ checkout_base.coupon_code }}
                    {% do action('woocommerce_cart_coupon') %}
                </div>
            {% endif %}

            <button type="submit" class="button primary outlined my-auto ml-auto" name="update_cart" value="{{ __('Update cart', 'woocommerce')|e }}">{{ __('Update cart', 'woocommerce')|e }}</button>

            {% do action('woocommerce_cart_actions') %}

            {{ fn('wp_nonce_field', 'woocommerce-cart', 'woocommerce-cart-nonce') }}

        </div>
    </form>

    <div class="cart-collaterals">
        {% do fn('woocommerce_cart_totals') %}
    </div>
</main>
