<article class="product-card">
    <picture>
        <source srcset="{{ product.thumbnail.src('medium_large')|towebp }}" type="image/webp"/>
        <source srcset="{{ product.thumbnail.src('medium_large')|retina(2)|towebp }} 2x" type="image/webp"/>
        <img src="{{ product.thumbnail.src('medium_large') }}"
             alt="{{ product.get_title }}"
             class="product-card__image"
             data-aos="fade-up"
        />
    </picture>

    <div class="product-card__body">
        <label class="product-card__label">
            {{ product.get_category_name_array|join(', ') }}
        </label>

        <div class="product-card__body__inner">
            <h2 class="product-card__title">
                {{ product.get_title }}
            </h2>

            <p class="product-card__price">
                {{ product.get_price_html }}
            </p>

            <a href="{{ product.add_to_cart_link }}"
               class="button primary text-center">{{ __('In mijn winkelmandje', 'bookish') }}</a>

            <a href="{{ product.link }}" class="button white text-center">{{ __('Bekijken', 'bookish') }}</a>
        </div>
    </div>
</article>